<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var string $resourceType
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var string $heading
 * @var array $query
 * @var int $totalResults
 * @var array $sortHeadings
 * @var array|false $pagination
 * @var array $filters
 * @var string $activeFilter
 * @var bool $filterNewSearch
 * @var int|null $featuredItemSet
 * @var int $recentDays
 * @var int $recentLast
 * @var string $categoryType
 * @var array $categoryResourceClasses
 * @var array $categoryResourceTemplates
 * @var string $searchPropertyDateRange
 * @var string $searchPropertiesUnique
 * @var string $searchPropertiesCustomVocab
 * @var bool $searchInItemSets
 * @var array $searchItemSets
 */

// This template and the associated js works only for items currently.
if ($resourceType !== 'item'):
    return;
endif;

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$thumbnail = $plugins->get('thumbnail');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$assetUrl = $plugins->get('assetUrl');
$api = $plugins->get('api');

$isFeatured = $plugins->get('isFeatured');
$isRecent = $plugins->get('isRecent');
$categories = $plugins->get('categories');

$paginator = $this->pagination()->getPaginator();

// There is no quick way to check if a module is installed.
try { $api->searchOne('custom_vocabs'); $hasCustomVocab = true; } catch (\Exception $e) { $hasCustomVocab = false; }
/** @var \Reference\View\Helper\References $references */
$references = $plugins->has('references') ? $plugins->get('references') : null;

$user = $this->identity();
$hasUser = (bool) $user;

if (empty($searchPropertyDateRange)):
    $searchPropertyDateRange = null;
endif;

if (!$references || empty($searchPropertiesUnique)):
    $searchPropertiesUnique = [];
endif;

if ($hasCustomVocab && $searchPropertiesCustomVocab):
    $searchPropertiesCustomVocab = array_filter(array_map('trim', preg_split('/\n|\r\n?/', $searchPropertiesCustomVocab)));
else:
    $searchPropertiesCustomVocab = [];
endif;

$listItemSets = empty($searchInItemSets) || empty($searchItemSets) ? [] : $plugins->get('listSiteItemSets')->__invoke();

$headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
// $bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');

// For testing purpose, the icon set is limited. They should exists with the name to work better.
$defaultCategories = [
    'photos',
    'videos',
    'reportages',
    'plaquettes',
    'infographies',
    'etablissements',
];
$categories->setOptions($categoryType, ['resource_classes' => $categoryResourceClasses, 'resource_templates' => $categoryResourceTemplates]);
$allCategories = $categories->list();
$categories = $categories->list($defaultCategories, $defaultCategories);
if (in_array($categoryType, ['resource_classes_selected', 'resource_templates_selected'])):
    $categoryType = str_ireplace('_selected', '', $categoryType);
    $maxCategory = count($categories);
else:
    // Take only the main 6 categories to simplify the interface.
    $maxCategory = 6;
endif;

$recentLasts = $recentLast
    ? array_values($site->getServiceLocator()->get('Omeka\ApiManager')->search('items', ['site_id' => $site->id(), 'sort_by' => 'id', 'sort_order' => 'DESC', 'limit' => $recentLast], ['returnScalar' => 'id'])->getContent())
    : [];

$firstQuery = http_build_query($query);

$apiPerPage = $this->setting('pagination_per_page');
$limitQuery = $paginator->getPerPage();
$totalResults = $paginator->getTotalCount();

$this->headScript()
    ->prependScript('
var baseUrl = ' . json_encode($this->url('top'), 320) . ';
var hasUser = ' . ($hasUser ? 'true' : 'false') . ';
var baseSite = ' . json_encode($this->url('site', ['site-slug' => $site->slug()]), 320) . ';
var baseSiteId = ' . $site->id() . ';
var baseThemeAsset = ' . json_encode($assetUrl('', null, false, false), 320) . ';
var filterNewSearch = ' . ($filterNewSearch ? 'true' : 'false') . ';
var categoryType = ' . json_encode($categoryType, 320) . ';
var categories = ' . json_encode($allCategories, 320) . ';
var recentDays = ' . $recentDays . ';
var recentLasts = ' . json_encode($recentLasts) . ';
var featuredItemSetId = ' . ($featuredItemSet ?: 'null') . ';
var firstQuery = ' . json_encode($firstQuery, 320) . ';
var apiPerPage = ' . $apiPerPage . ';
var limitQuery = ' . $limitQuery . ';
');
?>

<form id="search-form">
    <section id="intro" class="clearfix position-relative">
        <div class="container d-flex h-100">
            <div id="search-form" class="row justify-content-center align-self-center">

                <?php if ($heading): ?>
                <div class="intro-info order-md-first order-last">
                    <h6><?= $heading // No escape for the title in this project. ?></h6>
                </div>
                <?php else: // TODO Fix the css issue when there is no heading. ?>
                <div class="order-md-first order-last">
                    <h6>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h6>
                </div>
                <?php endif; ?>

                <div class="input-group">
                    <?php
                    if ($categories):
                        if ($categoryType === 'resource_classes'):
                            $queryArg = empty($query['resource_class_id']) ? '' : (int) $query['resource_class_id'];
                            $categoryTypeId = 'resource_class_id';
                        elseif ($categoryType === 'resource_templates'):
                            $queryArg = empty($query['resource_template_id']) ? '' : (int) $query['resource_template_id'];
                            $categoryTypeId = 'resource_template_id';
                        else:
                            $queryArg = '';
                            $categoryTypeId = '';
                        endif;
                        ?>
                    <div class="dropdown input-group-append align-center tous">
                        <a class="btn btn-tous dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <?= $queryArg ? $categories[$queryArg]['label'] : $translate('All') ?>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item category indirect" data-category-id=""><?= $translate('All') ?></a>
                            <?php foreach ($categories as $category): ?>
                            <a class="dropdown-item category indirect" data-category-id="<?= $category['id'] ?>"><?= $category['label'] ?></a>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <?php if ($categoryTypeId): ?>
                    <input type="hidden" id="category" name="<?= $categoryTypeId ?>" value="<?= $queryArg ?>"/>
                    <?php endif; ?>
                <?php endif; ?>
                    <input type="text" name="search" class="form-control input-group-append" value="<?= $escapeAttr($query['search']) ?>" placeholder="<?= $translate('Que recherchez-vous ?') ?>"/>
                    <input type="hidden" name="site_id" value="<?= $site->id() ?>"/>
                    <div class="input-group-append">
                        <button class="btn btn-purplepink btn-search-big" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                <?php
                $propertyIndex = 0;
                if ($searchPropertyDateRange || $searchPropertiesUnique || $searchPropertiesCustomVocab || $listItemSets):
                ?>
                <div class="input-group" id="showhide">
                    <a class="btn btn-research" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="start">
                        <p><?= $translate('Advanced search') ?></p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div aria-labelledby="dropdownMenuLink" id="showdata" style="display: none;">
                        <div class="pos">
                            <?php /*
                            <h3><?= $translate('Quels documents voulez-vous obtenir ?') ?></h3>
                            */ ?>

                            <?php if ($searchPropertyDateRange): // TODO Currently not managed: what is a date? Numeric datatype ? created? ?>
                            <div id="reportrange">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span id="currentdate"></span>
                                <i class="fa fa-caret-down"></i>
                            </div>
                            <br/>
                            <?php endif; ?>

                            <?php
                            foreach ($searchPropertiesUnique as $key => $term):
                                $referenceList = $references->list($term, ['site' => $site->id()], ['resource_name' => 'items', 'sort_by' => 'total', 'sort_order' => 'DESC', 'output' => 'associative']);
                                if (empty($referenceList['o-module-reference:values'])):
                                    continue;
                                endif;

                                $referenceList = array_combine(array_keys($referenceList['o-module-reference:values']), array_keys($referenceList['o-module-reference:values']));
                                natsort($referenceList);
                                $list = ['' => $translate('All')] + $referenceList;

                                $queryArg = '';
                                if (isset($query['property']) && is_array($query['property'])):
                                    foreach ($query['property'] as $propertyArg):
                                        if ($propertyArg['property'] === $term):
                                            $queryArg = $propertyArg['text'];
                                            break;
                                        endif;
                                    endforeach;
                                endif;
                            ?>
                            <div class="list-values">
                                <input type="hidden" name="property[<?= $propertyIndex ?>][joiner]" value="or"/>
                                <input type="hidden" name="property[<?= $propertyIndex ?>][property]" value="<?= $term ?>"/>
                                <input type="hidden" name="property[<?= $propertyIndex ?>][type]" value="eq"/>
                                <?php
                                $termClass = str_replace(':', '-', $term);
                                $key = 0;
                                foreach ($list as $value => $label):
                                    $isChecked = $value === $queryArg ? ' checked="checked"' : '';
                                    ++$key;
                                ?>
                                <label for="<?= "$termClass-$key" ?>" class="radio">
                                    <input type="radio" name="property[<?= $propertyIndex ?>][text]" id="<?= "$termClass-$key" ?>" value="<?= $value ?>" class="hidden"<?= $isChecked ?>/>
                                    <span class="label"></span>
                                    <?= $label ?>
                                </label>
                                <?php endforeach; ?>
                                <?php ++$propertyIndex; ?>
                            </div>
                            <hr/>
                            <?php endforeach; ?>

                            <?php
                            foreach ($searchPropertiesCustomVocab as $termAndId):
                                $term = trim(strtok($termAndId, '|'));
                                $id = trim(strtok('|'));
                                /** @var \CustomVocab\Api\Representation\CustomVocabRepresentation $customVocab */
                                try {
                                    $customVocab = $api->read('custom_vocabs', ['id' => $id])->getContent();
                                } catch (Exception $e) {
                                    continue;
                                }

                                $customVocab = $customVocab->terms();
                                if (!is_array($customVocab)) {
                                    $customVocab = explode("\n", $customVocab);
                                }
                                if (empty($customVocab)) {
                                    continue;
                                }

                                $list = ['' => $translate('All')] + array_combine($customVocab, $customVocab);

                                $queryArg = '';
                                if (isset($query['property']) && is_array($query['property'])):
                                    foreach ($query['property'] as $propertyArg):
                                        if ($propertyArg['property'] === $term):
                                            $queryArg = $propertyArg['text'];
                                            break;
                                        endif;
                                    endforeach;
                                endif;
                            ?>
                            <div class="list-values">
                                <input type="hidden" name="property[<?= $propertyIndex ?>][joiner]" value="or"/>
                                <input type="hidden" name="property[<?= $propertyIndex?>][property]" value="<?= $term ?>"/>
                                <input type="hidden" name="property[<?= $propertyIndex ?>][type]" value="eq"/>
                                <?php
                                $termClass = str_replace(':', '-', $term);
                                $key = 0;
                                foreach ($list as $value => $label):
                                    $isChecked = $value === $queryArg ? ' checked="checked"' : '';
                                    ++$key;
                                ?>
                                <label for="<?= "$termClass-$key" ?>" class="radio">
                                    <input type="radio" name="property[<?= $propertyIndex ?>][text]" id="<?= "$termClass-$key" ?>" value="<?= $value ?>" class="hidden"<?= $isChecked ?>/>
                                    <span class="label"></span>
                                    <?= $label ?>
                                </label>
                                <?php endforeach; ?>
                                <?php ++$propertyIndex; ?>
                            </div>
                            <hr/>
                            <?php endforeach; ?>

                            <?php if ($listItemSets): ?>
                            <?php $queryArgs = empty($query['item_set_id']) ? [] : $query['item_set_id']; ?>
                            <?php $queryArgs = is_array($queryArgs) ? $queryArgs : [$queryArgs]; ?>
                            <div class="list-item-sets">
                                <div class="row">
                                    <?php foreach ($listItemSets as $id => $label): ?>
                                    <div class="pretty p-default p-curve col">
                                    <?php /*
                                    <div class="pretty p-default p-curve col-ms-4 col-md-3 col-lg-2 mb-3 mb-xl-0 mt-3">
                                    */ ?>
                                        <input type="checkbox" name="item_set_id[]" id="item-set-<?= $id ?>" value="<?= $id ?>"<?= in_array($id, $queryArgs) ? ' checked="checked"' : '' ?>/>
                                        <div class="state p-purplepink-o">
                                            <label for="item-set-<?= $id ?>"><?= $label ?></label>
                                        </div>
                                    </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                            <?php endif; ?>

                            <div class="buttons but-pos float-right">
                                <div class="row">
                                    <div>
                                        <button type="button" class="btn btn-info no-border" id="reset"><?= $translate('Reset') ?></button>
                                        <button type="button" class="btn btn-dark no-border" id="close"><?= $translate('Close') ?></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endif; ?>

            </div>
        </div>

        <?php if ($categories): ?>
        <div id="categories" class="sub-nav position-absolute d-none d-md-block">
            <div class="row d-flex justify-content-center text-center">
                <?php foreach ($maxCategory ? array_slice($categories, 0, $maxCategory, true) : $categories as $category): ?>
                <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3 col-xl-2 mb-3 mb-xl-0">
                    <div class="nav-item">
                        <img class="d-inline-block" src="<?= $assetUrl('img/icons/' . $category['icon'] . '.svg', 'Saclay', true) ?>"/>
                        <a class="nav-link d-inline-block align-middle category direct" data-category-id="<?= $category['id'] ?>"><?= $category['label'] ?></a>
                    </div>
                </div>
                <?php endforeach; ?>
            </div>
        </div>
        <?php endif; ?>

    </section>
</form>

<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div id="total-results" class="col-sm-2 order-sm-first order-last">
                <?= sprintf($translate('Total : %s'), '<span>' . $totalResults . '</span>') ?>
            </div>
            <div class="col-sm-8">
                <ul id="portfolio-filters">
                    <?php
                    $mappingOrderFilters = [
                        'all' => '*',
                        'featured' => '.filter-featured',
                        'recent' => '.filter-recent',
                    ];
                    $mappingOrderFilterLabels = [
                        'all' => $translate('All'),
                        'featured' => $translate('En vedette'),
                        'recent' => $translate('Derniers ajouts'),
                    ];
                    $orderFilters = array_intersect($filters, array_keys($mappingOrderFilters)) ?: array_keys($mappingOrderFilters);
                    $activeFilter = empty($activeFilter) ? reset($orderFilters) : $activeFilter;
                    foreach ($orderFilters as $orderFilter): ?>
                        <li data-filter="<?= $mappingOrderFilters[$orderFilter] ?>" <?php if ($orderFilter === $activeFilter): ?>class="filter-active"<?php endif; ?>><?= $mappingOrderFilterLabels[$orderFilter] ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row portfolio-container">
            <?php
            // Translate one time for performance.
            $loop = [
                'untitled' => $translate('[Sans titre]'),
                'no category' => $translate('Sans catégorie'),
                // The nbsp fixes a glitch.
                'no media' => str_replace(' ', '&nbsp;', $translate('Pas de media')),
                'download' => $translate('Télécharger'),
                'telecharger.svg' => $assetUrl('img/icons/telecharger.svg', 'Saclay', true),
                'nomedia.png' => '<img src="' . $assetUrl('img/no_image.png', 'Saclay', true) . '" class="img-fluid" alt="' . $translate('No media') . '"/>',
                'nomedia.svg' => $assetUrl('img/icons/no_image.svg', 'Saclay', true),
            ];
            foreach ($resources as $resource):
                $heading = $resource->value($headingTerm, ['default' => $loop['untitled']]);
                // $body = $resource->value($bodyTerm);
                if ($categoryType === 'resource_classes') {
                    $repr = $resource->resourceClass();
                } elseif ($categoryType === 'resource_templates') {
                    $repr = $resource->resourceTemplate();
                } else {
                    $repr = null;
                }
                if ($repr) {
                    $categoryId = $repr->id();
                    $category = $repr->label();
                } else {
                    $categoryId = null;
                    $category = $loop['no category'];
                }
                $isFeaturedResource = $isFeatured($resource, $featuredItemSet);
                $isRecentResource = $isRecent($resource, $recentDays, $recentLast);
                $primaryMedia = $resource->primaryMedia();
                $image = $thumbnail($resource, 'medium', ['title' => $heading, 'class' => 'img-fluid']) ?: $loop['nomedia.png'];
                ?>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 portfolio-item resource <?= $resourceType ?><?php if ($isFeaturedResource): ?> filter-featured<?php endif; if ($isRecentResource): ?> filter-recent<?php endif; if ($categoryId): ?> filter-category-<?php echo $categoryId; endif; ?>">
                <div class="portfolio-wrap">
                    <?= $resource->linkRaw($image, null, ['class' => 'resource-link']) ?>
                    <div class="portfolio-info">
                        <div class="row">
                            <div class="col-6 bg-blacklight">
                                <p><?= $escape($category) ?></p>
                            </div>
                            <?php if ($primaryMedia): ?>
                            <a href="<?= $hasUser ? $primaryMedia->originalUrl() : '#loginModal' ?>"<?php if (!$hasUser): ?> data-toggle="modal"<?php endif; ?> role="button" class="col-6 image-download bg-purplepink">
                                <div class="row">
                                    <div class="col-6 no-padding">
                                        <img src="<?= $loop['telecharger.svg'] ?>" alt="" class="filter-white"/>
                                    </div>
                                    <div class="col-6 no-padding left-margin">
                                        <p><?= $loop['download'] ?></p>
                                    </div>
                                </div>
                            </a>
                            <?php else: ?>
                            <span class="col-6 image-download bg-purplepink">
                                <div class="row">
                                    <div class="col-6 no-padding">
                                        <img src="<?= $loop['nomedia.svg'] ?>" alt="" class="filter-white"/>
                                    </div>
                                    <div class="col-6 no-padding left-margin">
                                        <p><?= $loop['no media'] ?></p>
                                    </div>
                                </div>
                            </span>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</section>

<?php $hasMoreResults = $totalResults > count($resources); ?>
<div class="clearfix"></div>
<div class="no-more-results<?= $hasMoreResults ? ' hidden' : '' ?>">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div id="no-more-results">
                    <?php // Keep the original div for js (when the user clicks the message, it is removed). ?>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none">
                        <?= $translate('Pas d’autre document') ?>
                        <button type="button" class="close" data-dismiss="alert" aria-label="<?= $translate('Close') ?>">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <?php if (!$hasMoreResults): ?>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <?= $translate('Pas d’autre document.') ?>
                        <button type="button" class="close" data-dismiss="alert" aria-label="<?= $translate('Close') ?>">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <?php endif; ?>
                </div>
           </div>
        </div>
    </div>
</div>

<?php if (!empty($pagination)): ?>
<section id="continue" class="p-3 text-center">
    <div class="container-fluid">
        <?php if ($hasMoreResults): ?>
        <button id="page_next" data-total-results="<?= $totalResults ?>" data-page-count="<?= $paginator->getPageCount() ?>" type="submit"><?= $translate('Continuer à regarder') ?></button>
        <?php else: ?>
        <button id="page_next" data-total-results="<?= $totalResults ?>" data-page-count="<?= $paginator->getPageCount() ?>" type="submit" disabled="disabled"><?= $translate('Pas d’autre document') ?></button>
        <?php endif; ?>
    </div>
</section>
<?php endif; ?>
